html
    scroll-behavior: smooth

#pagewrapper
    margin: 0 auto
    padding: 0 160px
    max-width: 1366px
    overflow-x: hidden

body::-webkit-scrollbar
    width: 6px
    height: 6px

body::-webkit-scrollbar-thumb 
    background: #00A599

body::-webkit-scrollbar-track
    background: white