body
    #pagewrapper 
        header 
            .header__left
                .header__logo
                    img(src="./assets/img/", alt="Pivdenny Online Logo")
                .header__text
                    h3 Завантажуйте новий
                    h1.greentext Pivdenny Online
                    p Здійснювати перекази, купувати валюту, поповнювати мобільний та керувати фінансами – легко!
                .header__buttons
                    .googleplaybutton
                        img(src="./assets/svg/", alt="Google Play Market Pivdenny Online") 
                    .applestorebutton
                        img(src="./assets/svg/", alt="App Store Pivdenny Online")
            .header_right
                    .header__phones
                        img(src="./assets/img/", alt="")
                        img(src="./assets/img/", alt="")
        main
            section#features
                .features__container
                    h2 Легко отримуйте максимум від банкінгу
                    .features__table 
                        .features__table-left
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Грошові перекази
                                    p Перекази і платежі між картками та між рахунками безкоштовно 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Вигідний курс
                                    p Купівля доларів і євро з розміщенням на депозит 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Поповнення мобільного
                                    p Ваші улюблені мобільні оператори в застосунку поповнюються без комісії 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Обмін валют
                                    p Просто у застосунку та БЕЗКОШТОВНО 
                        .features__table-right
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Швидке повторення операцій
                                    p Збереження карток для швидкого доступу до повторних операцій 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Безпечний вхід
                                    p Безпечний логін за допомогою біометричних даних 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Повний контроль над операціями 
                                    p Зрозуміла історія операцій за картковими рахунками та квитанції за транзакціями 
                            .features__list-item 
                                .features__icon
                                    img(src="./assets/svg/", alt="")
                                .features__text 
                                    h3 Нічого не пропускайте
                                    p Push-повідомлення для підтвердження та інформування щодо операцій 
            section#blockicons
            section#blockdeposites
            section#blockewallets
            section#onlinesupport
            section#connect 
            section#video  
        footer
            .footer__container 
                .footer__left
                    .footer__left-graph
                        .footer__logo
                            img(src="./assets/img/", alt="")
                        .footer__buttons 
                            .googleplaybutton
                                img(src="./assets/svg/", alt="Google Play Market Pivdenny Online") 
                            .applestorebutton
                                img(src="./assets/svg/", alt="App Store Pivdenny Online")
                    .footer__left-descr 
                        p.description © 2022. Банк «Південний»
                .footer__right
                    .footer__link 
                        p Офіційний сайт
                        a.greentext(href="https://bank.com.ua") Банк «Південний» 